RewriteEngine On

# Rediriger les requêtes vers le fichier HTML correspondant
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/?$ $1.html [NC,L]

# Rediriger index.html vers le domaine principal
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ https://alexandrecousseau.fr/ [R=301,L]
